/archive
*/__pycache__
.pytest_cache
*.pyc
.DS_Store

.idea/

dist/
*.retry

.venv
.env*
tmp/
# stuffs that airflow output during runtime
airflow/logs/
airflow/unittests.cfg
dbt/target/
airflow/airflow-webserver.pid